<div class="container">

<h1>Expense Tracker </h1>

<div class="balance">
  <h2>Your Balance</h2>
  <h3>
      R {{totalIncome - totalExpense}}
  </h3>
</div>

<div class="total-container">
  <div class="expense-box total-box">
    <span> Total expense </span>
    <p>R {{totalExpense}} </p>
  </div>
  <div class="income-box total-box">
    <span> Total income </span> 
    <p>
        R {{totalIncome}}
    </p>
  </div>
</div>

<div class="inputs-container">
  <input type=" text"  placeholder="Enter item"  [(ngModel)]="expenseItem"  />
  <input type="number"  placeholder="Enter amount"  [(ngModel)]="amount" />

</div>

<div class="select-item-type">
  <select [(ngModel)]="expenseType">
    <option value="" disabled selected>Select Expense Type</option>
    <option value="income"> Income</option>
    <option value="expense"> Expense</option>
  </select>
  <button (click)="add()"> Add</button>
</div>

  <div class="list-items-container">
    <span *ngFor="let item of expenses" [ngClass]="item.expenseType" class="list-items">
      {{item.expenseItem}}
      {{item.amount}}
    </span>
  </div>

</div>