<div class="container">


<h2>Expense Tracker </h2>

<div class="balance">
    <span>Your Balance</span>
    <p style="font-weight: bold;">
       R {{totalIncome - totalExpense}}
    </p>
</div>

<div style="display: flex;">
    <div class="expense-box">
        <span>Total expense </span>
        <p  style="font-weight: bold;">R {{totalExpense}} </p>
    </div>
    <div class="income-box">
        <span>Total income   </span> 
        <p  style="font-weight: bold;">
            R {{totalIncome}}
        </p>
    </div>
</div>

<div style="border: 1px solid #dedede; display: flex; flex-direction: column;" >


<input type=" text"  placeholder="Enter item"  [(ngModel)]="expenseItem"  />
<input type="number"  placeholder="Enter amount"  [(ngModel)]="amount" />

<div style="display: flex; width: 490px; margin: 5px;">
    <select style="flex-grow: 2; border: 1px solid #dedede;" [(ngModel)]="expenseType">
        <option value="" disabled selected>Select Expense Type</option>
        <option value="Income"> Income</option>
        <option value="Expense"> Expense</option>
    </select>
    
    <button style="flex-grow: 1; background-color: #4D6AE9;color: #fff; height: 30px;border: none;"  (click)="add()"> Add</button>
</div>
</div>

<div *ngFor="let item of expenses">
    <div 
        [ngClass]="item.expenseType == 'Expense' ? 'expense' : 'income'"
        style="height: 40px; width: 500px; margin: 5px; align-content: center;padding: 5px;"
    >
        {{item.expenseItem}}
        {{item.amount}}
    </div>
  
</div>
</div>