.container {
  display: grid;
  justify-items: center;
}

.total-container,
.inputs-container,
.list-items-container,
.select-item-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  gap: 10px;
}

.total-box {
  width: 200px;
  border-radius: 20px;
  padding: 12px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
}

.expense-box {
  background-color: #EB5757;
}

.income-box {
  background-color: #6FCF96;
}

input {
  min-width: 100px;
  height: 30px;
  border: 1px solid #dedede;
  border-radius: 12px;
  padding: 8px;
}

.select-item-type select,
.select-item-type button {
  min-width: 140px;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 6px;
  margin-block: 2px;
}

.list-items-container {
  max-width: 800px;
  overflow-wrap: anywhere;
}

.list-items {
  width: fit-content;
  padding: 6px;
  border-radius: 8px;
  border: 0.5px solid;
}

.Expense {
  color: #EB5757;
}

.Income {
  color: #6FCF96;
}

.balance {
  width: 115px;
  color: black;
}

li {
  list-style: none;
}